@{
    ViewData["Title"] = "Continents";
    Layout = "_Layout2";
}

<div class="col-md-12">
    &nbsp;
    <h1 class="aligncenter">Continents</h1>
</div>


@{
    foreach(var item in ViewBag.continents){

        <div class="col-md-3">
            <div class="card continent_ref">
                <a asp-controller="Regions" asp-action="Details" asp-route-id="@item.continent_id">
                @{
                    var dirImg ="/img/continent_"+ item.continent_id+".png";
                }
                <img class="img-thumbnail image_thumbnail" src="@dirImg">
                </a>
                <div class="middle">
                    <div class="text-middle">
                        <a asp-controller="Regions" asp-action="Details" asp-route-id="@item.continent_id">Show Regions</a>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="title aligncenter">@item.continent</h3>
                </div>
            </div>
        </div>
    }
}


